.THIS .bgcolor0{
    color: #ff5d1d;
}

.THIS .bgcolor1{
    color: #06bef8;
}

.THIS .bgcolor2{
    color: #22a067;
}
.THIS .select-color{
    background : #ceecf5;
}

.THIS .not-avail-size{
    font-size : 11px;
}