.THIS .slds-text-body--small{
       line-height: 1.5;
}
.THIS .box {
    background: #fff;
    border-radius: .20rem;
    position: relative
}
.THIS .box-containt {
    padding: 0.75rem;
}
.THIS .icon__svg--default {
    background-color: #546991;
}
.THIS .slds-picklist__label {
    width: 100%
}
.THIS .fotter {
    background: #eef1f6;
    border-top: 1px solid #d8dde6;
    padding: 0.75rem;
    border-bottom-left-radius: .20rem;
    border-bottom-right-radius: .20rem;
    -moz-border-radius-bottomright: .20rem;
    -moz-border-radius-bottomleft: .20rem;
    -webkit-border-bottom-right-radius: .20rem;
    -webkit-border-bottom-left-radius: .20rem;
}
.THIS .box-heading {
    margin-left: 0.75rem;
}
.THIS html {
}
.THIS .header {
    background: #eef1f6;
    border-bottom: 1px solid #d8dde6;
    border-top:none;
}
.THIS .c-padding {
    padding: 0.75rem;
    padding-bottom:0.50rem;
    position:relative;
}
.THIS .sectionHeader{
	background: #f4f6f9;
}
.THIS .slds-button-group .slds-button:last-child {
    border-radius: 0px 0.20rem 0.20rem 0px;
}
.THIS .slds-button-group .slds-button:first-child {
    border-radius: 0.20rem 0px 0px 0.20rem;
}
.THIS .slds-col-rule--right {
    border-right: 1px solid #D8DDE6;
}
.THIS .slds-col-rule--top {
    border-top: 1px solid #D8DDE6;
}
.THIS .slds-col-rule--left {
    border-left: 1px solid #D8DDE6;
}
.THIS .slds-col-rule--bottom {
    border-bottom: 1px solid #D8DDE6;
}
.THIS .slds-table th  .slds-table td {
    padding: 0.5rem 0.75rem;
}
.THIS .textUppercase {
    text-transform: uppercase;
    color: #0070d2;
}
.THIS .textlowercase {
    text-transform: capitalize;
}
.THIS .custom-input {
    position: relative!important;
  }
.THIS .custom-combobox a{
	position:absolute!important;
	right:-2.3px!important;
	} 
.THIS .ui-widget .custom-add	{
	position:absolute!important;
	right:25px!important;
	border-radius: 0;
	border-right:none
}
.THIS .ui-widget .custom-add .slds-icon--x-small {
width: .751rem;
height: .751rem;
}
 .THIS .custom-combobox-toggle {
    position: absolute!important;
    top: 0!important;
    bottom: 0!important;
    margin-left: -1px!important;
    padding: 0!important;
  }
 .THIS  .custom-combobox-input {
	margin: 0;
	padding-right:4.3rem!important;
	background:#fff!important;
	border-color:#d8dde6
  }
 .THIS .custom-combobox-toggle{
	background:#fff!important;
	border-color:#d8dde6!important;
 }
.THIS .ui-widget-content{
	
} 
.THIS .ui-autocomplete{
border-color:#d8dde6!important;
	
}
.THIS .ui-widget, .THIS .ui-autocomplete{
    font: 100%/1.875rem "Salesforce Sans", Arial, sans-serif!important;
    color: #16325c!important;
    -webkit-tap-highlight-color: transparent!important;
}
.THIS .ui-autocomplete .ui-widget-content {
    
    background: #d8dde6!important;
    color: #16325c!important;
	
}
.THIS .ui-menu .ui-menu-item {padding: 0px 1em 0px;}
.THIS .ui-menu-item.ui-state-focus{
	background:#eef1f6!important;
	border-color:#d8dde6!important;
}

.THIS .slds-form-element__static {
    line-height: 2.125rem!important;
    min-height: calc(2.125rem - 2px)!important;
}
.THIS .ui-widget .slds-form-element__label{ 
    font-size: 0.875rem;
}
.THIS .layer{
    opacity: .8;
    background-color: rgb(168, 183, 199);
    position:absolute;
    z-index:9999;
    width:100%;
    height:100%;
    border-radius: .20rem;
}
.THIS .hide-row{
    display : none;
}
.THIS .slds-form-element .slds-checkbox [type="checkbox"] ~ .slds-checkbox--faux {
    margin-right: 0.5rem;
}
.THIS .slds-table td {
    padding: 0.3rem .50rem;
}
.THIS .slds-table td .slds-truncate {
    white-space: normal
}
.THIS span.slds-icon__container.slds-icon-action-close {
    padding: 0.5rem;
}
.THIS .custom-close{
    position: absolute;
    top: -7px;
    right: 0px;
}
.THIS .custom-close .slds-button__icon{
    width: 0.625rem;
    height: 0.625rem
}
.THIS .custom-close .slds-button__icon:hover {
    background-color: #ef6e64;
    fill: #fff;
    border-radius: 50%;
}

.THIS .slds-popover{
    max-width: 40rem;
}

.THIS .slds-popover__header {
    padding: 0.75rem;
}

.THIS .row-bg-color{
    background:#f9edbe
}
.THIS .slds-table--bordered .row-bg-color td  .slds-table--bordered .row-bg-color th {
    border-top: 1px solid #f0c36d;
    border-bottom: 1px solid #f0c36d;
}
.THIS .slds-table:not(.slds-no-row-hover) tbody .row-bg-color:hover > td  .slds-table:not(.slds-no-row-hover) tbody .row-bg-color:hover > th {
    background-color: #f9edbe;
}
.THIS .slds-table--bordered:not(.slds-no-row-hover) tbody .row-bg-color:hover > td  .slds-table--bordered:not(.slds-no-row-hover) tbody .row-bg-color:hover > th {
    box-shadow: #f0c36d 0 -1px 0 inset;
}
.THIS .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.THIS .ui-menu-item a{background:none; border:none;text-decoration:none;color: #16325c; font-size: 0.75rem}
.THIS .ui-menu-item a:hover{
    background:none;
    border:none;
}
.THIS .ui-menu-item:hover{
    background:#eef1f6!important;
}
.THIS .ui-menu-item:hover a{border:none;}
.THIS .showClass {
    display: block;
}
.THIS .hideClass .toggle-cls {
    display: none;
}

.THIS .slds-tabs--default__nav .slds-tabs__item a{
    height: 2.5rem;
    line-height: 2.5rem;
}
.THIS .slds-tabs--default > .slds-tabs__content {
    padding: 0;
}
.THIS .slds-icon__container.slds-icon-action-edit .slds-icon__container.slds-icon-action-join-group {
    padding: 0.5rem;
}
.THIS .slds-text-heading--medium {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.25;
}
.THIS .custom-slds{
    font-size: 0.75rem !important;
}
.THIS .slds-input::-webkit-input-placeholder { font-size: 0.75rem !important; }
.THIS .slds-input:-moz-placeholder { font-size: 0.75rem !important; }
.THIS .slds-input::-moz-placeholder { font-size: 0.75rem !important; }
.THIS .slds-input:-ms-input-placeholder { font-size: 0.75rem !important; }
.THIS .slds-checkbox .slds-form-element__label {
    font-size: 0.75rem;
}
.THIS td .slds-button--icon-container{
    height:auto;
}
.THIS td  .slds-tile__title{
    cursor:pointer
}
.THIS .focus-none:focus{ outline: 0; box-shadow: none;}
.THIS .slds-icon-action-approval-custom .slds-icon-action-close-custom{
    padding: 3px !important;
    line-height: 0 !important;
}
.THIS .slds-icon-action-approval-custom .slds-icon--x-small .slds-icon-action-close-custom .slds-icon--x-small  {
    line-height: 1;
    width: 11px;
    height: 11px;
}
.THIS .slds-popover__body {
    min-height:20rem;
}
.THIS .slds-popover{min-width: 40rem;}
.THIS .button-small{line-height: 1rem; font-size:85%; min-height: 1.5rem; padding-left: .75rem; padding-right: .75rem;}
.THIS .users{
    background:#fff;
}
.THIS .slds-input-has-icon--left .slds-input__icon {
    left: 0.5rem!important;
}
.THIS .slds-icon-action-approval-custom, .THIS .slds-icon-action-close-custom{
    padding: 3px !important;
    line-height: 0 !important;
}
.THIS .slds-icon-action-approval-custom .slds-icon--x-small, .THIS .slds-icon-action-close-custom .slds-icon--x-small  {
    line-height: 1;
    width: 11px;
    height: 11px;
}

.THIS .slds-icon__container.slds-icon-action-edit, .THIS .slds-icon__container.slds-icon-action-join-group {
    padding: 0.5rem;
}

.THIS .toggle-cls{
   Display:none;
}

.THIS .pointer-event{
    pointer-events: none;
}